
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/main.css" rel="stylesheet" type="text/css" />
<link href="~/Content/normalize.css" rel="stylesheet" type="text/css" />

<h2>Inicio</h2>

<p>BIENVENIDO AL INICIO</p>

