
@{
    ViewBag.Title = "Reservas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Reservas</h2>
<div class="row" style="transform:translateX(+102em); padding:5px; width:140px;">
   <a href="@Url.Action("NuevaReserva","Home")" class="btn btn-primary">Nueva reserva</a> 
</div>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>ID Reserva</th>
                    <th>ID Paciente</th>
                    <th>Fecha</th>
                    <th>Servicio</th>
                    <th>Observaciones</th>
                    <th>Estado</th>
                </tr>
            </table>
        </div>
    </div>


