h1,
h2,
h3,
h4,
h5,
h6{
    padding: 0;
    margin: 0;
}







html {
    width: 100%;
    height: 100%;
    background-color: #ABEFFB;
}

body {
    width: 100%;
    height: 100%;
    background-color: #ABEFFB;
}

#menuIzq {
    width: 6%;
    height: 100%;
    background-color: #4CB4C7;
}

nav div ul{
    float: left;
}

main {
    width: 100%;
    height: 100%;
    background-color: #BCFBF8;
}

    main header {
        /*background-color: #4CB4C7;*/
        background-color: #50C0D4;
        
    }



#encabezado{
    position: absolute;
    height: 10%;
    width: 94%
}



nav .fa-bars, nav .fa-times {
    font-size: 48px;
    pointer-events: none;
}

nav {
    width: 6%;
    height: 100%;
    background: rgb(255, 236, 69);
    position: relative;
}


nav > div > i, nav > div > input {
    padding-top: 10px;
}

nav input:checked > ul li {
    display: block;
    width: 100%;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.opcionMn {
    width: 2.364em;
    height: 60px;
    list-style: none;
    margin: 5px;
    text-decoration: none;
    padding-left: 30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}



    nav li:hover {
        background-color: #ABEFFB;
        cursor: pointer;
        transition-property: all;
        transition-duration: 0.1s;
        transition-timing-function: ease-in;
    }

#menuIzq {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.letras{
    font-size: 15px;
}

label{
    font-size: 22px;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        color: black;
    }

ul {
    padding-top: 68px;
}

nav input:checked ~ .fa-bars {
    display: none;
}

#loginAct:checked ~ #loginsops {
    display: block;
    padding-top: 150px;
}





#loginAct {
    width: 100px;
    height: 50px;
    opacity: 0;
}

#loginAct:hover{
    cursor: pointer;
}


    nav input:not(:checked) ~ .fa-times {
        display: none;
    }


nav > div > input, nav > div > i{
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    right: 0;
    top: 0;
}


    nav div ul {
        transform: translateX(-50px);
    }


nav > div > i {
    margin-top: 8px;
    padding-right: 19px;
}

nav > div > input {
    opacity: 0;
    width: 80px;
    height: 60px;
}

    nav > div > input:hover {
        cursor: pointer;
    }

ul a li {
    font-size: 40px;
    color: #1F1F1F;
}

#cuerpo {
    padding-top: 8%;
    background-color: #ABEFFB;
    height: 90%;
    width: 100%;
}

#loginOP {
    width: 13em;
    float: right;
    font-size: 22px; 
    padding-left: 12px;
}
/*#loginOP div i{
    font-size: 30px;
}
*/

#loginsops {
    display: none;
    margin: 0;
    padding: 0;
}

#loginOP:hover {
    background-color: #43A9DB;
    color: white;
}

#loginOP:hover > #loginsops{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#loginsops {
    list-style: none;
    
}

label:hover{
    cursor: pointer;
}


#opcionesMen a {
    font-size: 30px;
    color: #4D4D4D;
}

#opcionesMen a:hover{
    color: black;
    cursor: pointer;
}

   /* #loginOP div:hover ~ #loginsops > li {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }*/

    #loginsops > a:hover {
        background-color: #89C4E1;
        cursor: pointer;
    }  
        
#loginCompleto{
    display: flex;
    flex-direction: row;
}

#icono{
    position: relative;
}

    #icono > i, #icono > input {
        position: absolute;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        right: 0;
        top: 0;
    }
    #textoLogin{
        padding-top: 12px;
    }
    #loginAct{
        margin-left: 50px;
    }

    #icono > i{
        font-size: 40px;
        padding-top:7px;
    }
    #icono{
        padding-left: 45px;
    }

.flex-row{
    flex-direction: row;
}


